<template>
  <div class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="buttons">


            <!--- Insert user / profile photo here -->
          </div>
        </div>
      </div>

      <div class="navbar-end navbar-menu">
        <div class="navbar-item">
          <div class="buttons">
            <span class="button is-success">Page 1</span>
            <span class="button is-success">Page 2</span>
            <span class="button is-success">Page 3</span>
          </div>
        </div>
      </div>
      

    </div>
</template>

<script>
export default {
  name: "Navbar",
  data() {
    return {};
  }
};
</script>