<template>
<div>
<!--- Hero -->
<section class="hero is-success is-medium">
  <div class="hero-body">
    <div class="container">
      <img src="@/assets/sf-logos-light.svg" alt="">
      <br>
      <h1 class="title">
        incentivized shift management.
      </h1>
      <h2 class="subtitle">

      </h2>
    </div>
  </div>
</section>

<!--- Feature 1-->
<section class="hero is-light">
  <div class="hero-body">
    <div class="columns">
      <div class="column">
        <h1 class="title is-size-1 has-text-success has-text-weight-semibold">make scheduling easier than ever before.</h1>
        <p class="has-text-grey">Scheduling for business is inefficient. Revenue is affected when you're understaffed, and team morale decreases when an employee is called in unwillingly.</p>
      </div>
      <div class="column">
        <img src="@/assets/tablet.png" alt="">
      </div>
    </div>
  </div>

</section>

<!--- Feature 2-->
<section class="hero">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-hidden-mobile">
        <img src="@/assets/sf-webbanner-default_04.png" alt="">
      </div>
      <div class="column">
        <h1 class="title is-size-1 has-text-success has-text-weight-semibold">stay in control.</h1>
        <p class="has-text-grey">Managers can create shifts, employees can pick up shifts directly from their device. Everything you will ever need all in one app!</p>

      </div>
  </div>
  </div>
</section>

<!--- Feature 3-->
<section class="hero">
  <div class="hero-body">
    <div class="columns">
      <div class="column">
        <h1 class="title is-size-1 has-text-success has-text-weight-semibold">always connected.</h1>
        <p class="has-text-grey">Just open the app to see your schedule and find available shifts.</p>
      </div>
            <div class="column is-hidden-mobile">
        <img src="@/assets/sf-webbanner-default_07.png" alt="">
      </div>
  </div>
  </div>
</section>




<!--- Contact -->
<section class="hero is-dark">
<div class="hero-body">
      <section class="section">
            <h1 class="title has-text-weight-bold is-size-1">interested? contact us.</h1>

  <form name="contact" method="POST" netlify-honeypot="bot-field" netlify> 
      <p class="hidden">
        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
      </p>
    <div class="field">
      <label class="label has-text-white">Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Name">
      </div>
    </div>

    <div class="field">
      <label class="label has-text-white">Email</label>
      <div class="control">
        <input class="input" type="email" placeholder="Email">
      </div>
    </div>

    <div class="field">
      <label class="label has-text-white">Phone</label>
      <div class="control">
        <input class="input" type="text" placeholder="Phone">
      </div>
    </div>

    <div class="field">
      <label class="label has-text-white">Company</label>
      <div class="control">
        <input class="input" type="text" placeholder="Company">
        
      </div>
    </div>

    <label class="label has-text-white">Business Type</label>
  <div class="field is-grouped">
  <div class="control">

    <div class="select">
      <select>
        <option>Restaurant / Service Industry</option>
        <option>Retail</option>
        <option>Non Profit</option>
      </select>
    </div>
  </div>

  <div>
  <button type="submit" class="button is-success">
    Send message
  </button>
  </div>
  </div>
</form>
</section>

</div>
      <img width="150px" src="@/assets/sf-logos-light.svg" alt="">

</section>

</div>
</template>

<script>
import Navbar from "@/components/layout/Navbar";

export default {
  name: "Home",
  components: {
    Navbar
  },
  data() {
    return {
      msg: "staffed"
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
