<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import Navbar from "@/components/layout/Navbar";
export default {
  name: "App",
  components: {
    Navbar
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

h1 .tag {
  font-family: "Roboto", sans-serif;
}
</style>
